{% extends 'base.html' %}

{% block title %}
  Eleição Conselho de Ética - HUC
{% endblock %}

<div class="container text-center">
  {% block content %}
    <div class="card">
      <img class="card-img-top img-fluid" src="../static/assets/logo.png" alt="Imagem de capa do card" />
      <div class="card-body">
        <h5 class="card-title fs-3">Eleições Comitê de Ética</h5>
        <p class="card-text">Votação concluída com SUCESSO</p>
        <hr />
        <p class="card-text">
          Votação concluída <b>com SUCESSO</b>
        </p>
        <hr />
      </div>
    </div>
  {% endblock %}
</div>
