{% extends 'base.html' %}

{% block title %}
  Eleição Conselho de Ética - HUC
{% endblock %}

<div class="container text-center">
  {% block content %}
    <div class="card">
      <img class="card-img-top img-fluid" src="../static/assets/logo.png" alt="Imagem de capa do card" />
      <div class="card-body">
        <h5 class="card-title fs-3">Eleições Comitê de Ética</h5>
        <p class="card-text">Informe o CPF - somente números</p>
        <hr />
        <form class="form-signin" method="post" action="{% if request.method == 'POST' %}{% url 'home' %}{% endif %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <hr />
          <button class="btn btn-success" type="submit">Validar CPF</button>
        </form>
      </div>
    </div>
  {% endblock %}
</div>
